
/*General*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

:root {
  --logo-color:	#004f70;
  --bground-color:#cef6ff;
  --side-color:#ffb703;
  --hover-color:#f9f871;
  --font-color: black;
  --card-color:#f9f871;
  --accent-color: purple;
}

/*
* {border: 0.01px solid green};
*/

/*LAYOUT*/
/*Layout General*/
* {box-sizing: border-box};

.hidden {}
.flex-parent-col{  /*  background-color: var(--hover-color);*/}

/*Page Grid Overall*/
.logo-bar { grid-area: header;}
.nav-bar {grid-area: nav;}
.page-content {grid-area: main; overflow: auto;}
.page-footer {grid-area: footer;}
.page-full {
  margin: 0;
  height: 100vh;
  display: grid;
  grid-template: auto 1fr auto/ 15vw 1fr 1fr auto;
  grid-template-areas: 
  "header header header header"
  "nav main main main"
  "nav footer footer footer";
}

@media only screen and (max-width: 992px) {/*tablet*/
  .page-full {
    grid-template: auto auto 1fr auto / auto 1fr auto;
    grid-template-areas:
    "header header header"
    "nav nav nav"
    "main main main"
    "footer footer footer";
  }
} 
@media only screen and (max-width: 800px) {/*phone*/
  .page-full {
    grid-template: auto auto 1fr auto / auto auto;
    grid-template-areas: 
    "header header"
    "nav nav"
    "main main"
    "footer footer";
  }
  .no-mobile { display: none;}
} 

/*Layout logo-bar, nav-bar*/
.logo-bar {
  padding: 0 1em;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
.nav-flex {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
}
.nav-link {
  padding: 1em;
  border-bottom: 1px solid var(--bground-color);
}

@media only screen and (max-width: 992px) {
  .nav-flex {
    flex-direction: row;
    justify-content: space-evenly;
  }
  .nav-link {
    padding: 0.5em;
  }
}

/*Layout Sections*/
/*Try flexbox
.chapter {
  min-height: 85vh;
  margin: 1.5em;
}
.ch-2col-parent {
  background: greenyellow;
  display: flex;
  flex-wrap: wrap;
}
.ch-2col-child {
  background-color: hotpink;
  flex: 1 1 50%;
  padding: 1.5em;
}
@media only screen and (max-width: 800px) {
  .ch-2col-parent {
    flex-direction: column wrap;
  }
  .ch-2col-child {
    flex: 1 1 100%;
  }
}
*/
/*Try grid*/
/*
.chapter, .chapter * {border: 1px solid green;}
*/
.chapter {
  height: 80vh;
  margin: 2em;  
  display: grid;
  grid-template: auto repeat(3, 1fr) / repeat(6, 1fr);
  grid-gap: 2vh 2vw;
}
.ch-header {
  grid-area: 1/1/span 1/ span 6;
  justify-self: center;
}
.ch-2col-left {grid-area: 2/1/span 3/span 3; }
.ch-2col-right {grid-area: 2/4/span 3/span 3; }
.ch-3col-left {grid-area: 2/1/span 3/span 2;}
.ch-3col-middle {grid-area: 2/3/span 3/span 2;}
.ch-3col-right {grid-area: 2/5/span 3/span 2;}


/*Help Colors*/
/*
.chapter { background-color: lightgreen;}
.ch-header { background-color: lightsteelblue;}
.ch-2col-left {background-color: lightpink;}
.ch-2col-right { background-color: lightsteelblue;}
.ch-3col-left { background-color: lightpink;}
.ch-3col-middle { background-color: lightsteelblue;}
.ch-3col-right {background-color: lightgoldenrodyellow;}
*/

/*Layout Welcome*/
#c-welcome {
  grid-gap: 0;
  grid-template-areas: 
  "vil vil welc . . bbl"
  "vil vil nam nam . bbl"
  "yrn hob hob hob hob bbl"
  "yrn . dev dev . bbl";
}
.img-deco {
  max-width: 100%;
  height: auto;
  /*
  max-height: 100%;
  object-fit: contain;
  */
}
#welc-h1 {grid-area: welc;}
#welc-h2-name {grid-area:nam;}
#welc-hobbies {grid-area:hob;}
#welc-dev {grid-area:dev;}
#wel-img-violin {grid-area:vil;}
#welc-img-yarn {grid-area:yrn;}
#welc-img-bubble-corner {grid-area:bbl;}

/*Layout Carousels*/
.carousel-grid {
  /*  
  background-color: lightpink;
  */
  max-height: 60vh;
  display: grid;
  grid-template: auto auto 1fr / auto 1fr auto;
 /* 
  grid-template: min-content min-content 1fr / auto 1fr auto;
  grid-gap: 1em;
 */
  justify-items: center;
  grid-template-areas:
  "crhd crhd crhd"
  "crsbhd crsbhd crsbhd"
  "crbk crcard crnx";
}
.carousel-head {grid-area: crhd; margin: 0 auto;}
.carousel-subhead {grid-area: crsbhd; margin: 0 auto;}
.carousel-item-container {
  grid-area: crcard;
  justify-self: stretch;
/* 
  background-color: lightgreen;
  align-self: center;
  figure out a height
  */
}
.button-car-back {grid-area: crbk;}
.button-car-next {grid-area: crnx;}
.button-car {align-self: center;}

/*Layout Project cards*/
.carousel-item-container {}
.project-tile {
  display: block;
  height: 90%;
  margin: 1em;
  padding: 0.5em;
}
#music-result-container {height: 50%;}
.card-style, .card-style-non-hover {
  text-decoration: none;
  text-align: center;
  background-color: var(--card-color);
  border-radius: 10px;
  box-shadow: 6px 6px 10px 0 rgba(0,0,0,0.2);
}
.card-style:hover {opacity: 0.8;}
.card-list { text-align: justify;}
.project-name {
  text-align: center;
  margin: 0 auto;
/*  margin: 2vh auto;*/
}
.project-tile-frame {
  width: 80%;
  /*
  height: 50%;
  */
  margin: 0 auto;
}
.project-tile-img {
  width: 100%;
  height: auto;
  /* 
  object-fit: contain;
  display: block;
  margin: 0 auto;
  border-radius: 10px;
  */
}

/*Layout Profiles*/
.ch-profiles-header {grid-area: prh;}
.ch-profiles-intro {grid-area: prin; justify-self: left;}
.ch-profiles-a {grid-area: ghub;}
.ch-profiles-b {grid-area: repo;}
.ch-profiles-c {grid-area: fcc;}
.ch-profiles-d {grid-area: wars;}
.ch-profiles-e {grid-area: pen;}
.ch-profiles-f {grid-area: repl;}

.chapter-profiles {
  justify-items: center;
  grid-template-areas:
  "prin prin prin prin prin prin"
  ". . repo ghub . ."
  ". fcc prh prh repl ."
  ". . wars pen . .";
}

@media only screen and (max-width: 800px) {
  .chapter {
    height: min-content;
    grid-template: auto repeat(6, 1fr) / repeat(3, 1fr);
  }
  .ch-header {grid-area: 1/1/span 1/ span 3;}
  .ch-2col-left {grid-area: 2/1/span 3/span 3;}
  .ch-2col-right {grid-area: 5/1/span 3/span 3;}
  .ch-3col-left {grid-area: 2/1/span 2/span 3;}
  .ch-3col-middle {grid-area: 4/1/span 2/span 3;}
  .ch-3col-right {grid-area: 6/1/span 2/span 3;}
  #c-welcome {
    grid-template-areas: 
    "welc welc welc"
    "nam nam nam"
/*    "vl vl vl"
    "vl vl vl"*/
    "hob hob hob"
    "dev dev dev"
    "dev dev dev"
  }

  .chapter-profiles {
    justify-items: left;
    grid-template-areas:
    "prin  prin prin"
    "prh prh prh"
    ". repo repo"
    ". fcc fcc"
    ". wars wars"
    ". ghub ghub"
    ". pen pen"
    ". repl repl";
  }
}
/*DESIGN*/
/*Design General*/
body{  
  background-color: var(--bground-color);
  font-family: "Roboto", Helvetica, sans-serif;
  line-height: 1.8;
}

.button{
  background-color: var(--logo-color);
  color: var(--side-color);
  border: none;
  border-radius: 20px;
  padding: 5px 10px;
}
.button-car {
  border-radius: 50%;
  color: var(--logo-color);
  background: none;
}
.button:hover {opacity: 0.5; cursor: pointer;}
.button-surprise{
  padding: 1.5vh 1.5vw;
}

ul {
  list-style: disc outside url(https://raw.githubusercontent.com/0bubbles0/fac-22-application/main/resources/img/logo/bubble-mini-13.png);
  text-align: justify;
  /*
  list-style: disc inside url(https://raw.githubusercontent.com/0bubbles0/fac-22-application/d91fce4d16d5b1abbf4da2de8e95c1721932a043/resources/img/logo/bubble-mini-10.png);
  list-style: disc inside url(https://raw.githubusercontent.com/0bubbles0/fac-22-application/main/resources/img/logo/bubble-mini.png);
  list-style-image: url(https://raw.githubusercontent.com/0bubbles0/fac-22-application/main/resources/img/logo/bubble-mini.png);
  list-style-image: url(resources\img\logo\bubble-mini.jpg);
  */
  
}

.bubble-list {
  width: 1vw;
  height: auto;
  margin: auto 0.5vw;
}

/*Design Text*/
.p-bold {
  font-weight: bold;
  color: var(--accent-color);
}

.p-bold-key {
  color: var(--accent-color);

}

/*Design Nav*/
.sidebar{
  background-color: var(--side-color);
}
#sidebar {
}
.nav-bar { background-color: var(--card-color);}
.nav-logo{
  min-width: 150px;
  max-width: 12vw;
  height: auto;
}
/*
.nav-link {
  border-bottom: 1px solid var(--bground-color);
}
*/
.nav-link, .nav-link:visited, a, a:visited { color: var(--logo-color);}
.nav-link:hover {   background-color: var(--bground-color);}

/*Design Page*/
.page-content{}
#c-welcome{}

/*Design Footer*/
footer {
  color: var(--logo-color);
  border-top: 3px solid var(--logo-color);
  padding-bottom: 0;
}


.tile-visible {
  display: block;
}

.tile-hidden {
  display: none;
}


/*
@media only screen and (min-width: 600px) {phone-L, tablet-Portrait} 
@media only screen and (min-width: 768px) {tablet-Landscape} 
@media only screen and (min-width: 1200px) {XL Lap-Desktop} 
*/