/*
Table of Contents:
- Font imports
- Color-variables
- General
- General design
- Layout: whole page
- Layout: most chapters (.chapter-stack)
- Layout: carousels, Beethoven
- Layout: special chapters (.chapter-creative): Welcome, Profile
- Media Queries
- High Priority
*/

/*Font imports*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

/*Color variables*/
:root {
  --bground-color:#f4f1de;
  --top-color:#e07a5f;
  --nav-color:#f2cc8f;
  --card-color:#f2cc8f;
  --logo-color:	#004f70;
  --font-color: black;
  --accent-color:#e07a5f;
}

/*General*/
* {
  box-sizing: border-box;
}
body {
  font-family: "Roboto", Helvetica, sans-serif;
  background-color: var(--bground-color);
  line-height: 1.8;
}

/*Design general*/
.p-bold {
  font-weight: bold;
  color: var(--accent-color);
}
ul {
  list-style: disc outside url(https://raw.githubusercontent.com/0bubbles0/fac-22-application/main/resources/img/logo/bubble-mini-13.png);
  text-align: justify;
  line-height: 1.8;
}
h2, h6 {
  font-family: "Courgette", Helvetica, sans-serif;
  font-size: larger;
}
h4, h5 {
  font-size: larger;
  margin: 0 auto;
  color: var(--logo-color);
}
.ch-hd, #logo-bar-title {
  color: var(--logo-color);
  margin: 0;
  font-family: "Courgette", Helvetica, sans-serif;
  /*
  text-transform: uppercase;
  */
  font-weight: bold;
  font-size: 1.8rem;
}
.ch-profiles, .chapter-stack-heading {
  background-color: var(--top-color);
  border-radius: 10px;
  padding: 5px;
}
.chapter-stack-heading {
  display: none;
}

.button{
  /*
  background: linear-gradient(-45deg, var(--logo-color) 0%, var(--logo-color) 80%, var(--bground-color) 100%);
  */
  background-color: var(--logo-color);
  box-shadow: 2px 2px 10px 0 rgba(0,0,0,0.2);
  color: var(--bground-color);
  border: none;
  border-radius: 20px;
  padding: 1.5vh 1.5vw;
}


/*Layout: Whole Page*/
.page-full {
  margin: 0;
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template: auto 1fr auto / 15vw 1fr;
  grid-template-areas:
  "header header"
  "nav main"
  "footer footer";
}

/*Logo-bar*/
.logo-bar {
  grid-area: header;
  background: linear-gradient(to bottom, var(--top-color) 0%, var(--top-color) 95%, rgba(0,0,0,0.2) 100%);
  /*
  background-color: var(--top-color);
  box-shadow: 0 1px 10px 0 rgba(0,0,0,0.2);
  */
  padding: 0 1em;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
.logo-img {
  min-width: 150px;
  max-width: 12vw;
  height: auto;
}

/*Nav-bar*/
.nav-bar {
  /*
  background-color: var(--nav-color);
  */
  background: linear-gradient(to right, var(--nav-color) 0%, var(--nav-color) 98%, rgba(0,0,0,0.2) 100%);
  grid-area: nav;
  
}
.nav-flex {
  /*FLEXBOX*/
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
}
.nav-link {
  padding: 1em;
  border-bottom: 1px solid var(--bground-color);
}
#nav-l-profiles { border-color: var(--nav-color);}
.bubble-list {
  min-width: 15px;
  width: 1vw;
  height: auto;
  margin: auto 0.5vw;
}

/*Footer*/
.page-footer {
  grid-area:footer;
  border-top: 3px solid var(--logo-color);
  color: var(--logo-color);
  text-align: center;
  /*
  padding-bottom: 0;
  */
}


/*Layout: Chapters normal*/
.page-content {
  grid-area: main;
  overflow: auto;
}
.chapter-stack {
  min-height: 80vh;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr)); 
  /*
  grid-gap: auto 2vw;
  */
}
.chapter-stack-column {
  margin: 2rem 2rem 0 2rem;
}
.column-low {
  align-self: center;
}
.column-tall {
  margin: 0 1rem;
}
.column-long {
  min-height: 80vh;
}
.column-thin {
  justify-self: center;
}


/*Carousels*/
.carousel-grid {
  /*
  justify-items: center;
  */
  height: 75vh;
  display: grid;
  grid-template: auto auto 1fr / auto 1fr auto;
  grid-template-areas: 
  "carhd carhd carhd"
  "carshd carshd carshd"
  "carbk carcard carnx";
  text-align: center;
}
.carousel-head {grid-area: carhd;}
.carousel-subhead {grid-area: carshd;}
.button-car-back {grid-area: carbk;}
.button-car-next {grid-area: carnx;}
.button-car {
  font-size:xx-large;
  color: var(--logo-color);
  background: none;
  border: none;
}
.carousel-item-container {  grid-area: carcard;}

/*Tiles*/
.project-tile {
  display: block;
  height: 90%;
  margin: 1em;
  padding: 0.5em;
  text-decoration: none;
  background-color: var(--card-color);
  border-radius: 10px;
  box-shadow: 6px 6px 10px 0 rgba(0,0,0,0.2);
  /*
  font-size:smaller;
  */
}
.project-name { margin: 3vh; color:var(--logo-color);}
.project-tile-img {
  width: 90%;
  height: 75%;
  object-fit: contain;
}

/*Beethoven*/
.select-field {
  margin: 5vh 5vw;
  color: var(--logo-color);
  background-color: var(--card-color);
  font-size: x-large;
}

#beethoven-result-display {
  height: 50vh;
  padding: 2vh 4vw;
}


/*Creative Sections*/
.chapter-creative {
  height: 79vh;
  /*
  width: 85vw;
  */
  display: grid;
  grid-template: repeat(4, 1fr) / repeat(6, 1fr);
  justify-items: center;
  align-items: center;
  font-size: larger;
}

.creative-img {
  width: 100%;
  height: 100%;
  object-fit:cover;
  border-radius: 10px;
}

/*Welcome Section*/
#welc-h1 {grid-area: 1 / 3 / span 1 / span 2;}
#welc-h2-name {grid-area: 2 / 3 / span 1 / span 2;}
#welc-hobbies {grid-area: 3 / 2 / span 1 / span 4;}
#welc-dev {grid-area: 4 / 2 / span 1 / span 4;}
#welc-img-violin {grid-area: 1 / 1 / span 2 / span 2; justify-self:left; align-self:start;}
#welc-img-yarn {grid-area: 1 / 5 / span 2 / span 1; transform:rotate(-20deg);}
#welc-img-bubble-corner {
  grid-area: 2 / 6 / span 3 / span 1; 
  object-fit: contain;
}

/*Profiles Section*/
i { padding-right: 10px;}

.ch-profiles-header {grid-area: prh;}
.ch-profiles-intro {grid-area: prin; justify-self: left;}
#link-github {grid-area: ghub;}
#link-github-repo {grid-area: repo;}
#link-fcc {grid-area: fcc;}
#link-codewars {grid-area: wars;}
#link-codepen {grid-area: pen;}
#link-repl {grid-area: repl;}

#c-profiles {
  margin: auto 2vw;
  justify-items: center;
  grid-template-areas:
  "prin prin prin prin prin prin"
  ". . repo ghub . ."
  ". fcc prh prh repl ."
  ". . wars pen . .";
}

/*Hover, links*/
.nav-link, .nav-link:visited, a, a:visited { color: var(--logo-color);}
.nav-link:hover, .nav-link-focus {
  /*
  background-color: var(--bground-color);
  border-color: var(--nav-color);
  */
  border-color: rgba(0,0,0,0.2);
  background: linear-gradient(to right, var(--bground-color) 0%, var(--bground-color) 98%, rgba(0,0,0,0.2) 100%)
}
.hover:hover, button:hover, .button-car:hover, .fcc-tile:hover, .fac-tile:hover, .ch-profiles:hover {opacity: 0.8; cursor: pointer;}


/*Media Queries*/
/*Tablet*/
@media only screen and (max-width: 992px) {
  .page-full {
    grid-template: auto auto 1fr auto / 1fr;
    grid-template-areas:
    "header"
    "nav"
    "main"
    "footer";
  }
  .nav-bar {
    background: linear-gradient(to bottom, var(--nav-color) 0%, var(--nav-color) 98%, rgba(0,0,0,0.2) 100%);
    
  }
  .nav-flex {
    /*Flexbox*/
    flex-flow: row wrap;
    justify-content: space-evenly;
  }
  .nav-link {
    padding: 0.5em;
    border-bottom: none;
  }
  .nav-link:hover, .nav-link-focus {
    background: var(--bground-color);
  }
  #welc-h2-name {grid-area: 2 / 1 / span 1 / span 6;}
  #welc-img-violin {grid-area: 1/ 1 / span 1 / span 2;}
  #welc-img-yarn {display: none;}
  #welc-img-bubble-corner {grid-area: 3 / 6 / span 2 / span 1;}
  #c-profiles {
    grid-template-areas:
    "prin prin prin prin prin prin"
    "repo repo . . ghub ghub"
    "fcc fcc prh prh pen pen"
    "wars wars . . repl repl";
  }
  .project-name { margin: 0; font-size: 0.9rem;}
  .button-car {font-size: large;}
  .project-tile {
    font-size: smaller;
  }
}

/* Mobile */
@media only screen and (max-width: 600px) {
  body {
    width: 100vw;
    margin: auto 2vw;
  }
  .no-mobile {
    display: none;
  }
  #logo-bar-title {
    display:none;
  }
  .chapter-stack-heading {
    display: block;
    justify-self: center;
    margin-bottom: 0;
  }
  .carousel-mobile {font-size: 1.1rem;}
  .chapter-creative {
    grid-template: repeat(5, auto) / repeat(2, 1fr);
    margin: auto 2vw;
  }
  #welc-h1 {grid-area: 1 / 1 / span 1 / span 1;}
  #welc-h2-name {grid-area: 2 / 1 / span 1 / span 2;}
  #welc-hobbies {grid-area: 3 / 1 / span 1 / span 2;}
  #welc-dev {grid-area: 4 / 1 / span 1 / span 2; justify-self: left;}
  #welc-img-violin {grid-area: 1 / 2 / span 1 / span 1;}
  #welc-img-yarn {grid-area: 5 / 1 / span 1 / span 1;}
  #welc-img-bubble-corner {grid-area: 5 / 2 / span 1 / span 1;}
  #c-profiles {
    justify-items: left;
    grid-template-areas:
    "prin prin"
    "prh prh"
    "repo ghub"
    "fcc pen"
    "wars repl";
  }
  .ch-profiles-header { justify-self: center; margin: 0 auto;}
}
@media only screen and (max-width: 400px) {
  .carousel-mobile {height:50vh;}
}

/*Priority*/
.visible {
  display: block;
}
.hidden {
  display:none;
}